@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form>
        <table>
            <tr>
                <th>Sno</th>
                <th><input type="text" id="sno" /></th>
            </tr>
             <tr>
                <th>Name</th>
                <th><input type="text" id="name" /></th>
            </tr>
            <tr>
                <th>City</th>
                <th><input type="text" id="city" /></th>
            </tr>
            <tr>
                <th>
                    <td colspan="2" style="text-align=center">
                        <button type="button" class="btn btn-dark" id="store">Add People</button>
                    </td>
                </th>
            </tr>
        </table>
    </form>
</div>
<div class="jumbotron">
    <table class="table table-bordered">
        <thead>
         <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody id="tdata">

        </tbody>
    </table>

</div>
<script src="~/js//apicall.js"></script>