@page
@model Task3_ManytoManyRelation.Views.IndexModel
@{
}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
<table class="table table-grey" style="background:Grey">
    <thead>
        <th>Employee_Id</th>
        <th>Employee Name</th>
        <th>Status</th>
        <th>Manager</th>
        <th>Wfm Manager</th>
        <th>Email</th>
        <th>Skills</th>
    </thead>
    <tbody id="data">

    </tbody>
</table>

<script src="~/lib/Script.js"></script>